@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hidden {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.continuous-gradient {
		background: linear-gradient(
			90deg,
			rgb(var(--primary)),
			rgb(var(--primary-varient)),
			rgb(var(--primary)),
			rgb(var(--primary-varient))
		);
		background-size: 300%;
		animation: flow 2s linear infinite;
	}
}

@keyframes flow {
	from {
		background-position: 0%;
	}
	to {
		background-position: 100%;
	}
}

:root {
	--background: 17, 17, 28;
	--surface: 40, 44, 53;
	--primary: 61, 76, 245;
	--primary-varient: 82, 73, 244;
	--secondary: 23, 225, 225;
	--accent: 241, 55, 114;
	--font-primary: 246, 248, 247;
	--muted: 136, 136, 136;
}

body {
	@apply bg-background text-font-primary;
}

html {
	@apply scroll-smooth font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-display text-font-primary;
}
