@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hidden {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

html {
	@apply scroll-smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-display;
}

p,
a,
li,
b,
i,
span {
	@apply font-body;
}
