@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hidden {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

:root {
	--background: #11111C;
	--surface: #282c35;
	--primary: #3d4cf5;
	--primary-varient: #5249f4;
	--secondary: #17e1e1;
	--accent: #F13772;
	--font-primary: #f6f8f7;
	--muted: #888888;
}

body {
	@apply bg-background;
}

html {
	@apply scroll-smooth font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-display text-font-primary;
}

p, a {
	@apply text-font-primary;
}